<div class="container my-5" style="height: 90vh">
  <div class="row h-100">
    <div class="col-6">
      <div class="row">
        <div class="input-group mb-3 col-12">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar por cep"
            aria-label="Buscar por cep"
            aria-describedby="basic-addon2"
            id="cep"
            maxlength="8"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="acionar()"
            >
              Buscar
            </button>
          </div>
        </div>
      </div>

      <form [formGroup]="myform">
        <div class="row">
          <div class="form-group col-4">
            <label for="">Cidade</label>
            <input
              formControlName="cidade"
              class="form-control form-control-sm"
              type="text"
              id=""
              placeholder="xxxxxx"
              [value]="cidade"
            />
          </div>

          <div class="form-group col-4">
            <label for="">Bairro</label>
            <input
              formControlName="bairro"
              class="form-control form-control-sm"
              type="text"
              id="bairro"
              placeholder="xxxxxx"
              [value]="bairro"
            />
          </div>
          <div class="form-group col-4">
            <label for="">Cep</label>
            <input
              formControlName="code"
              class="form-control form-control-sm"
              type="text"
              id=""
              placeholder="xxxxxx"
              [value]="code"
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-4">
            <label for="">Quartos</label>
            <input
              formControlName="quartos"
              class="form-control form-control-sm"
              type="text"
              id=""
              placeholder="xxxxxx"
              [value]="quartos"
            />
          </div>
          <div class="form-group col-4">
            <label for="">Banheiros</label>
            <input
              formControlName="banheiros"
              class="form-control form-control-sm"
              type="text"
              id=""
              placeholder="xxxxxx"
              [value]="banheiros"
            />
          </div>
          <div class="form-group col-4">
            <label for="">Garagem</label>
            <input
              formControlName="garagem"
              class="form-control form-control-sm"
              type="text"
              id=""
              placeholder="xxxxxx"
              [value]="garagem"
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6">
            <label for="">Valor do Imóvel</label>
            <input
              formControlName="valor"
              class="form-control form-control-sm"
              type="text"
              id=""
              placeholder="xxxxxx"
            />
          </div>
        </div>

        <button class="btn btn-primary" (click)="cadastrarImovel()">
          Cadastrar
        </button>
      </form>
    </div>
    <div class="col" style="height: 80%">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7502.227451810444!2d-43.94403647313885!3d-19.91961185947303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa699e4e119a387%3A0xd00dc0b14abf3fc4!2sCentro%2C%20Belo%20Horizonte%20-%20MG!5e0!3m2!1spt-BR!2sbr!4v1658172624660!5m2!1spt-BR!2sbr"
        width="100%"
        height="100%"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
